<h1>Show articles</h1>

<a href="/articles">Go back to articles.</a>

<p>
   <strong>Title:</strong>
   <%= @article.title %>
</p>

<p>
   <strong>Text:</strong>
   <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<!--
<% @article.comments.each do |comment| %>
   <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
   </p>

   <p>
      <strong>Comment:</strong>
      <%= comment.body %>
   </p>
<% end %>
-->

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> | 
<%= link_to 'Back', articles_path %>
